<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>

    <!--Layui CSS-->
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
    <script  th:src="@{/static/layui/layui.all.js}"></script>
    <script  th:src="@{/static/layui/layui.js}"></script>
    <script th:src="@{/static/jquery-3.2.1.js}"></script>
    <style>
        * {
            box-sizing:content-box!important;
        }
    </style>
</head>
<body>


        <form class="layui-form" method="post" action="" style="padding: 15px;">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="username" required  lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">密码</label>
                <div class="layui-input-inline">
                    <input type="password" name="password" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label" >请再次输入</label>
                <div class="layui-input-inline">
                    <input type="password" name="repassword" required lay-verify="required" placeholder="再次输入密码" autocomplete="off" class="layui-input">
                </div>
                <!--<div class="layui-form-mid layui-word-aux">辅助文字</div>-->
            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即注册</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>


<script>
    //Demo
    layui.use('form', function() {
        var form = layui.form;

        //监听提交
        form.on('submit(formDemo)', function (data) {
            //var paramData = JSON.stringify(data.field);
            $.ajax({
                type:"post",
                url : "/user/register",
                data: data.field,
                dataType: 'json',
                success:function (ret) {
                    if (ret.run_status == 'ok') {
                        var index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        parent.layer.msg(ret.msg, {icon:1});
                    }
                    if(ret.run_status == 'error') {
                        layer.msg(ret.msg, {icon:2});
                    }
                },
                error:function () {
                }
            });
            return false; //禁止提交表单
        });
    });
</script>

</div>



</body>

</html>