<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.showbook.dao.BookDetailMapper">
    <select id="queryBookDetailById" parameterType="Integer" resultType="com.showbook.pojo.BookDetail">
        select * from t_bookDetail where book_id=#{id}
    </select>

    <select id="queryBooks" resultType="com.showbook.pojo.BookDetail">
        select * from t_bookDetail
    </select>
</mapper>